.react-calendar {
  border: none; 
  border-radius: 12px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); 
  overflow: hidden;
  padding-bottom: 40px;
  background-color: #fffbf1;
}

.react-calendar__tile--now {
  background-color: #ACD084;
  color: #ffffff; 
  border-radius: 15%;
}

.react-calendar__tile.react-calendar__tile--now:hover {
  background-color: #b6ce9c;
  border-radius: 15%;
  background-color: #8cbb6e;
}


/* bg-orange-500 */
/* .react-calendar__tile--now {
  background-color: #f97316 ;
  color: #ffffff; 
  border-radius: 15%;
} */

.react-calendar__tile.react-calendar__tile--now:hover {
  background-color: #b6ce9c;
  border-radius: 15%;
  background-color: #8cbb6e;
}



  .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none; 
    font-weight:200;
  }

.react-calendar__tile.selected {
    background-color: #528540 !important;
    color: white !important;
    border-radius: 15%;
  }
  
  .react-calendar__tile.day-off {
    background-color: gray !important;
    color: white !important;
    border-radius: 15%;
  }
  
  .react-calendar__tile.day-off.selected {
    background: linear-gradient(to bottom, gray 50%, orange 50%) !important;
    color: white;
  }
 
  
  .react-calendar__month-view__days__day--weekend {
    color: inherit; 
  }
  