<<<<<<< HEAD
.react-calendar {
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-bottom: 40px;
  background-color: #fffbf1;
}

.react-calendar__tile--now {
  border-radius: 15%;
  color: #000 !important;
  background-color: #eedfcf !important;
  border: 2px solid #528540 !important;
}

.react-calendar__tile.react-calendar__tile--now:hover {
  background-color: #eab441;
  border-radius: 15%;
  border: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-weight: 200;
}

.react-calendar__tile.selected {
  background-color: #528540;
  color: white;
  border-radius: 15%;
}



.react-calendar__tile:hover {
  background-color:  #eab441 !important;
  border-radius: 15%;
}
.react-calendar__navigation__next-button {
  font-size: 2rem; 
  color:grey;
  cursor: pointer; 
}

.react-calendar__navigation__prev-button {
  /* color: gray; */
  opacity: 0.4; 
  font-size: 2rem; 
}


.react-calendar__navigation__prev2-button {
  color: #fffbf1;
  opacity: 0.5;
  pointer-events: none;
}

.react-calendar__navigation__next2-button {
  color: #fffbf1;
  opacity: 0.5;
  pointer-events: none;
}

.react-calendar__tile.day-off {
  background-color: gray !important;
  color: white !important;
  border-radius: 15%;
}

.react-calendar__tile.day-off.selected {
  background: linear-gradient(to bottom, gray 50%, orange 50%) !important;
  color: white;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit;
}

.placeholder-sm::placeholder {
  font-size: 12px; 
  color: #999; 
}


.react-calendar__tile--active{
  display: hidden;
}


.react-calendar__tile--active{
  background-color: #528540 !important; 
  color: white !important;
}
=======
.react-calendar__tile.selected {
    background-color: #528540 !important;
    color: white !important;
  }
  
  /* Days Off (Gray) */
  .react-calendar__tile.day-off {
    background-color: gray !important;
    color: white !important;
  }
  
  /* Days that are both selected and marked as day off (Gradient) */
  .react-calendar__tile.day-off.selected {
    background: linear-gradient(to bottom, gray 50%, orange 50%) !important;
    color: white;
  }
  
>>>>>>> cceefc8 (feat: added some extra packages like tailwind.css font awesome. Started setting up routes and the progress has been set up)
